.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color:#fbfbfb;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color:#070209; 
  font-weight: 600; 

}

.logo {
  font-family: 'Cursive', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.nav-link {
  font-size: 1em;
  cursor: pointer;
}

.active-link {
  font-size: 1em;
  border-bottom: 2px solid currentColor;
  padding-bottom: 4px;
}

.language-button {
  background-color:#fbfbfb; /* Yellow button color */
  color: #f66f45;
  padding: 5px 13px;
  font-size: 13px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ins-button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
}

.main-content {
  padding-top: 64px; /* This matches the height of the header (h-16 = 64px in Tailwind) */
  min-height: calc(100vh - 64px);
}